section.service
	.container
		+blockBox("We work with", "Amazing Services")
		.service-container
			.service-list
				+serviecItem("./images/img-service-icon1.png", "Photography", "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor.")
				+serviecItem("./images/img-service-icon2.png", "Web Desgin", "Ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor.")
				+serviecItem("./images/img-service-icon3.png", "Creativity", "Dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor.")
			.service-list
				+serviecItem("./images/img-service-icon4.png", "Seo", "Ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod.")
				+serviecItem("./images/img-service-icon5.png", "CSS/HTML", "Lorem dolor sit amet, consectetur adipiscing elit, sed do tempor.")
				+serviecItem("./images/img-service-icon6.png", "Digital", "Sit amet, consectetur adipiscing elit, sed do eiusmod tempor.")