section.story
	.container
		+blockBox("Our stories", "Latest blog")
		ul.story-list
			+storyItem("./images/img-story1.png")
			+storyItem("./images/img-story2.png", "14", "Jan", "Lorem ipsum dolor sit", "Lorem, ipsum dolor sit amet consectetur adipisicing elit. Fugiat consectetur repellat rerum excepturi saepe, accusamus adipisci, neque harum hic commodi laudantium magni dignissimos iusto vero quam reiciendis ducimus ab delectus.", "992", "42")
			+storyItem("./images/img-story3.png", "12", "Jan", "Lorem ipsum dolor sit", "Lorem, ipsum dolor sit amet consectetur adipisicing elit. Fugiat consectetur repellat rerum excepturi saepe, accusamus adipisci, neque harum hic commodi laudantium magni dignissimos iusto vero quam reiciendis ducimus ab delectus.", "1560", "98")
section.map
	.container
		.map-content
			img.map-icon(src="./images/img-map-icon.png")
			h2.map-heading Open map