section.quote
	.container
		.quote-container
			//- img.quote-arrow-img.quote-arrow-left(src="./images/arrow-left-icon.png")
			+quoteItem("./images/img-quote-avatar.png", true, '“Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation.”', "Joshua Earle")
			+quoteItem("./images/img-team1.png", true, '“Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation.”', "Joshua Earle")
			+quoteItem("./images/img-team2.png", true, '“Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation.”', "Joshua Earle")
			//- img.quote-arrow-img.quote-arrow-right(src="./images/arrow-right-icon.png")