.service {
	padding-top: 11rem;
	padding-bottom: 12rem;
	@include bg(#fff);
	@include maxWidth(1023px) {
		padding: 5rem 0;
	}
	&-list {
		@include flexbox(stretch, space-between);
		margin-top: 6.5rem;
		&:first-child {
			border-bottom: 1px solid $border-color;
			margin-bottom: 5rem;
			padding-bottom: 5rem;
		}
		@include maxWidth(1023px) {
			display: block;
		}
	}
	&-item {
		width: calc((100% / 3) - (8rem / 3));
		@include flexbox(flex-start);
		&-icon {
			width: 3.5rem;
			margin: 0 3rem;
		}
		&-info {
			flex: 1;
			height: 100%;
			@include flexbox(flex-start, space-between, column);
		}
		&-title {
			font-size: 1.4rem;
			font-weight: 500;
			line-height: 1.4;
			color: $title-color;
			text-transform: uppercase;
			margin-bottom: 1.5rem;
			@include textClamp;
		}
		&-desc {
			font-size: 1.5rem;
			font-family: $secondary-font;
			color: $text-color;
			line-height: 2.4rem;
			font-weight: 300;
			@include textClamp(2);
		}
		@include maxWidth(1023px) {
			width: 100%;
			&:not(:last-child) {
				margin-bottom: 3rem;
			}
		}
	}
}
